title='Groups'
template='page.jade'
section='groups'

.container
  .row
    .span4.group
      h2
        a(href="http://wiki.somakeit.org.uk/wiki/SoutHACKton") SoutHACKton
      .img.soha
      p
        | A group of hardware and software enthusiasts with diverse interests including such things as robotics, home automation, augmented reality, circuit bending, programming and much much more.
    .span4.group
      h2
        a(href="http://wiki.somakeit.org.uk/wiki/3D_Printing") 3D Printing
      .img.reprap
      p
        | RepRap and other 3D Printers have enabled individuals and organisations to rapidly prototype new ideas. This group is for fans and owners of these devices.
    .span4.group
      h2
        a(href='mailto:join@somakeit.org.uk?subject=Joining%20So%20Make%20It') Your Group Here
      .img.join ?
      p
        | Have a group of creatives you think might be a good fit with So Make It? Get in touch 
        a(href='mailto:join@somakeit.org.uk') join@somakeit.org.uk
        | .
