title='Trustees'
template='page.jade'
section='trustees'

.container.trustees
  h1 Our Hardworking Trustees
  h2 Feel free to contact any of the trustees below.
  // Three columns of text below the carousel 
  .row
    .span4
      img.img-circle(src='/img/people/anton.png')
      h3
        a(href='mailto:anton@somakeit.org.uk') Anton
      ul.unstyled
        li
          a(href='http://twitter.com/antonpiatek') @antonpiatek
        li
          a(href='http://strangeparty.com/') strangeparty.com
    .span4
      img.img-circle(src='/img/people/benjie.png')
      h3
        a(href='mailto:benjie@somakeit.org.uk') Benjie
      ul.unstyled
        li
          a(href='http://twitter.com/benjie') @Benjie
        li
          a(href='http://www.benjiegillam.com/') BenjieGillam.com
    .span4
      img.img-circle(src='/img/people/bracken.png')
      h3
        a(href='mailto:bracken@somakeit.org.uk') Bracken
      ul.unstyled
        li
          a(href='http://twitter.com/brackendawson') @brackendawson
    .span4.offset2
      img.img-circle(src='/img/people/chris.png')
      h3
        a(href='mailto:chris@somakeit.org.uk') Chris
      ul.unstyled
        li
          a(href='http://twitter.com/chris3dsmith') @Chris3DSmith
        li
          a(href='http://3DSmith.co.uk/') 3DSmith.co.uk
    .span4
      img.img-circle(src='/img/people/james.png')
      h3
        a(href='mailto:james@somakeit.org.uk') James
      ul.unstyled
        li
          a(href='http://twitter.com/xrobotsuk') @XRobotsUK
        li
          a(href='http://xrobots.co.uk/') XRobots.co.uk
