title='Home'
template='page.jade'
section='home'

.hero-unit
  .container
    .row
      .span12
        h1 Southampton Makerspace
        h2 A friendly not-for-profit community-ran workshop
.container
  .row.actionbar
    .span6.offset3.button-text-panel
      a.btn.btn-huge.btn-primary(href='http://members.somakeit.org.uk/register') Join us!
.container.quickfacts
  .row
    .span4
      img.img-circle(data-src='holder.js/140x140')
      h3 Meet and socialise
      p
        | Members of So Make It come from all walks of life; we're a non-profit and we aim to include everyone regardless of race, gender, sexuality or opinions.
      p
        a.btn(href='/groups/') Groups »
    .span4
      img.img-circle(data-src='holder.js/140x140')
      h3 Learn new skills
      p
        | We run workshops and our members work on a lot of individual and group projects, and they're happy to share their knowledge and experience with you.
      p
        a.btn(href='http://wiki.somakeit.org.uk/wiki/Workshops') Workshops »
    .span4
      img.img-circle(data-src='holder.js/140x140')
      h3 Work with others
      p
        | Whether you need help on a great project idea, or are looking to work with others on an existing project, So Make It is the place to do it!
      p
        a.btn(href='http://wiki.somakeit.org.uk/wiki/Projects') Projects »
.container.quickfacts
  hr.featurette-divider
  .featurette.clearfix
    img.featurette-image.pull-right(src='img/community.png')
    // Borrowed from http://www.eventcamp.org/wp-content/uploads/2010/10/community-v2.jpg 
    h2.featurette-heading
      a(name='community')
      | Community. 
      span.muted Not for profit, friendly, and fun.
    p.lead
      | We believe that everyone, from any background, should be able to learn new skills and make new friends. To enable this, we run a Makerspace where members can use our resources and tools to create amazing new things. Our members love to share knowledge and skills, so lack of experience is not a problem! We're not for profit - ran by our members for our members.
    p
      a.btn.btn-large.btn-primary(href='http://members.somakeit.org.uk/register') Join us!
    p.pull-right
      a(href='#') Back to top
  hr.featurette-divider
  .featurette.clearfix
    img.featurette-image.pull-left(src='img/groups.png')
    h2.featurette-heading
      a(name='space')
      | Space. 
      span.muted To work alone or with others.
    p.lead
      | Thanks to the kind folks at 
      a(href="http://www.rideride.co.uk/") rideride Cycle Workshop
      |  we now have a 500sqft area in their warehouse. We've kitted out the space with desks, chairs and tools available for usage by all members. 
      | We welcome any artists, engineers, programmers, hackers, makers, tinkerers or anyone creative to come join us. If you run a group, or are planning to start one, why not 
      a(href='/contact/') get in touch or visit us
      |  to see what we can offer?
    p
      a.btn.btn-large.btn-primary(href='http://members.somakeit.org.uk/register') Join Us!
    p.pull-right
      a(href='#') Back to top
  hr.featurette-divider
  .featurette.clearfix
    img.featurette-image.pull-right(src='img/joinus.png')
    // Borrowed from http://out.as/you/wp-content/uploads/2012/08/join-us-1024x860.jpg 
    h2.featurette-heading
      a(name='contact')
      | Contact us. 
      span.muted Join us - individually or as a group.
    p.lead
      | We're always on the look-out for new members and groups to join our fold, so do 
      a(href='/contact/') get in touch
      |  - we think you'll be glad you did! Membership includes many benefits including access to the space and it's tools, storage and resources; the right to vote on the direction of the organisation; and of course becoming a member of our community!
    p
      a.btn.btn-large.btn-primary(href='http://members.somakeit.org.uk/register') Join Us!
    p.pull-right
      a(href='#') Back to top
  hr.featurette-divider
