title='Home'
template='page.jade'
section='home'

.hero-unit
  .container
    h1 Southampton Makerspace
    h2 A friendly community workshop space
.container
  .row.actionbar
    .span6.offset3.white-panel.button-text-panel
      h2 Coming soon...
      a.btn.btn-large.btn-warning(href='/contact/') Join Us!
.container.quickfacts
  .row
    .span4
      img.img-circle(data-src='holder.js/140x140')
      h3 Meet and socialise
      p
        | Members of So Make It come from all walks of life; we're a charity*, so we aim to include everyone regardless of race, gender, sexuality or opinions.
      p
        a.btn(href='/contact/') Socialise »
    .span4
      img.img-circle(data-src='holder.js/140x140')
      h3 Learn new skills
      p
        | We host workshops to help our members learn new skills and techniques; events to get people involved; or just come along and learn by doing!
      p
        a.btn(href='/contact/') Learn »
    .span4
      img.img-circle(data-src='holder.js/140x140')
      h3 Work with others
      p
        | If you've got an idea for a great project, but it needs more hands, why not see if you can find people willing to help get your idea to fruition!
      p
        a.btn(href='/contact/') Collaborate »
.container.quickfacts
  hr.featurette-divider
  .featurette.clearfix
    img.featurette-image.pull-right(src='img/community.png')
    // Borrowed from http://www.eventcamp.org/wp-content/uploads/2010/10/community-v2.jpg 
    h2.featurette-heading
      a(name='community')
      | Community. 
      span.muted Not for profit, friendly, and fun.
    p.lead
      | We believe that everyone, from any background, should be able to learn new skills and make new friends. To enable this, we run a Makerspace where members can use our resources and tools to create amazing new things. Our members love to share knowledge and skills, so lack of experience is not a problem! We're a charity*, so we're strictly not for profit - ran by our members for our members (and the surrounding community).
    p.pull-right
      a(href='#') Back to top
  hr.featurette-divider
  .featurette.clearfix
    img.featurette-image.pull-left(src='img/groups.png')
    h2.featurette-heading
      a(name='groups')
      | Groups. 
      span.muted For anyone creative!
    p.lead
      | We welcome any artists, engineers, programmers, hackers, makers, tinkerers or anyone creative. If you run a group, or are planning to start one, why not 
      a(href='/contact/') get in touch
      | ?
    p.pull-right
      a(href='#') Back to top
  hr.featurette-divider
  .featurette.clearfix
    img.featurette-image.pull-right(src='img/joinus.png')
    // Borrowed from http://out.as/you/wp-content/uploads/2012/08/join-us-1024x860.jpg 
    h2.featurette-heading
      a(name='contact')
      | Contact us. 
      span.muted Join us, or create a group.
    p.lead
      | We're always on the look-out for new members and groups to join our fold, so do 
      a(href='/contact/') get in touch
      |  - we think you'll be glad you did!
    p.pull-right
      a(href='#') Back to top
  hr.featurette-divider
