title='Sponsors'
template='page.jade'
section='sponsors'

.container
  .row
    .span8.offset2.sponsors
      h3 Each of the groups below have helped us greatly in our quest to set up and run Southampton Makerspace!
.container
  .row
    .span3.sponsor
      h2
        a(href="http://www.rideride.co.uk/") rideride
      .img.rideride
      p
        | We're very grateful to rideride Cycle Workshop for letting us use a corner of their workshop rent free! They've been very supportive and friendly - thanks rideride!
    .span3.sponsor
      h2
        a(href="https://bitfolk.com/") BitFolk
      .img.bitfolk
      p
        | The great guys at BitFolk host a VPS for us for free - very generous of them. This VPS hosts our wiki, members site and more in the future - thanks BitFolk!
    .span3.sponsor
      h2
        a(href="http://www.etchuk.com/") Etch
      .img.etch
      p
        | Etch/Design Haus very generously hosted our meetups before we got a space of our own, allowing us to do hacking and meet up in their comfortable offices. Thanks Etch!
    .span3.sponsor
      h2
        a(href="http://www.thearthousesouthampton.co.uk/") The Arthouse
      .img.arthouse
      p
        | For years SoutHACKton has been meeting at the Arthouse, and they've been very supportive - hosting our meetings, helping us advertise. We're very grateful to them - thanks Arthouse!
