h3 {
  font-weight: normal;
}

p {
  font-size: 1.15em;
}

a.brand {
  min-width: 150px;
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 30px;

  text-indent: -9999px;
  whitespace: nowrap;
}

.btn-huge {
  padding: 17px 27px;
  font-size: 24px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.navbar-fixed-top {
  margin-bottom: 0;
}

.frontpage-banner {
  background-color: rgb(15, 62, 68);
  background-image: url('../img/pixelart-noise.png');
  color: white;
  text-shadow: 1px 2px 2px black;
}
.frontpage-banner h1 {
  margin-top: 30px;
}
.frontpage-banner h1,
.frontpage-banner h2,
.frontpage-banner h3 {
  line-height: 120%;
  text-align: center;
}
.frontpage-banner .action {
  margin-bottom: 20px;
  width: 49.5%;
  margin-top: 10px;
}
.frontpage-banner .action.left {
  float: left;
}
.frontpage-banner .action.right {
  float: right;
}
.frontpage-banner .action p {
  margin-top: 20px;
  text-align: center;
  text-shadow: 1px 1px kpx black;
  padding: 0 10px;
}
.frontpage-banner .action .btn {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.horse {
  background-image: url(../img/horse.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position:0% 50%;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.quickfacts, .trustees {
  text-align: center;
  color: rgb(80,80,80);
}

.trustees {
  margin-top: 80px;
  margin-bottom: 80px;
}

.trustees h2 {
  margin-bottom: 40px;
}

.featurette p {
  overflow: hidden;
}

.featurette-image {
  width: 256px;
  height: 256px;
}
.page {
  padding: 30px 12% 80px;
  margin: 80px 0 40px 0;
  box-shadow: 0 1px 10px rgba(0,0,0, 0.25);
}

.sponsors h3 {
  text-align: center;
}

.group,
.sponsor {
  border-radius: 10px;
  background-color: #eee;
  box-shadow: 0 1px 10px rgba(0,0,0, 0.25);
  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  text-align: justify;
}

.group h2,
.sponsor h2 {
  text-align: center;
}

.group .img,
.sponsor .img {
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 1px 10px rgba(0,0,0, 0.25);
  height: 200px;
  max-width: 400px;
  width: 100%;
  text-align:center;
  line-height: 200px;
  font-size: 100px;
  color: #888;
  margin: 0 auto 20px;
}
.sponsor .img {
  max-width: 240px;
  height: 120px;
}

.img.soha {
  background-image: url(/img/soha2.png);
}

.img.rideride {
  background-image: url(/img/rideride2.png);
}

.img.bitfolk {
  background-image: url(/img/bitfolk2.png);
}

.img.etch {
  background-image: url(/img/etch2.png);
}

.img.arthouse {
  background-image: url(/img/arthouse2.png);
}

.img.reprap {
  background-image: url(/img/reprap.png);
}

footer {
  margin-top: 20px;
}
footer p.backtotop {
  text-align: right;
}
footer p {
  font-size: 0.9em;
  margin: 0;
}
footer p.legal {
  font-size: 0.75em;
  line-spacing: 100%;
}

.upcoming {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  border: 3px solid #eee;
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: 0 1px 10px rgba(0,0,0, 0.25);
  text-align: center;
}

.box-main,
.box-side {
  margin-top: 20px;
}
.box-main {
  border-radius: 10px;
  padding: 5px 20px;
  background-color: rgb(187, 209, 213);
  background-image: url('../img/pixelart-noise.png');
}

.box-side {
  background-color: rgb(15, 63,68);
  background-image: url('../img/pixelart-noise.png');
  color: white;
  border-radius: 10px;
  padding: 5px 20px;
}

.box-main h1,
.box-main h2,
.box-main h3 {
  font-weight: bold;
  color: rgb(15, 63, 68);
}

.box-side h1,
.box-side h2,
.box-side h3 {
  font-weight: bold;
  color: rgb(118, 162, 170)
}

@media all and (min-width: 1200px) {
  .frontpage-banner h1 {
    font-size: 36px;
  }
  .frontpage-banner h3 {
    font-size: 25px;
  }
}
@media all and (max-width: 1199px) {
  .frontpage-banner h1 {
    font-size: 32px;
  }
  .frontpage-banner h3 {
    font-size: 24px;
  }
}
@media all and (max-width: 979px) {
  .horse {
    margin-left: -20px;
  }
  .frontpage-banner h1 {
    font-size: 28px;
  }
  .frontpage-banner h3 {
    font-size: 20px;
  }
}
@media all and (max-width: 767px) {
  .horse {
    display: none;
  }
  .frontpage-banner {
    margin: 0 -20px;
    padding: 0 20px;
  }
}
