h3 {
  font-weight: normal;
}

p {
  font-size: 1.15em;
}

a.brand {
  min-width: 150px;
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 30px;

  text-indent: -9999px;
  whitespace: nowrap;
}

.btn-huge {
  padding: 17px 27px;
  font-size: 24px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.navbar-fixed-top {
  margin-bottom: 0;
}

.hero-unit {
  background-image:url(../img/slides/social.png);
  background-color:#fff;
  color:#fff;
  text-shadow: 0 2px 1px black;
  background-position:50% 30%;
  background-size: 100% auto;
  background-repeat:no-repeat;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.actionbar {
  margin-top: -54px;
  clear:both;
  text-align: center;
}

.white-panel {
  padding: 20px 0;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  text-align: center;
  min-height: 40px;
  line-height: 40px;
}

.actionbar h2 {
  display: inline;
  margin-right: 20px;
}
.actionbar a {
  margin-top: -6px;
}

.quickfacts, .trustees {
  text-align: center;
  color: rgb(80,80,80);
}

.trustees {
  margin-top: 80px;
  margin-bottom: 80px;
}

.trustees h2 {
  margin-bottom: 40px;
}

.featurette p {
  overflow: hidden;
}

.featurette-image {
  width: 256px;
  height: 256px;
}
.page {
  padding: 30px 12% 80px;
  margin: 80px 0 40px 0;
  box-shadow: 0 1px 10px rgba(0,0,0, 0.25);
}

.group {
  border-radius: 10px;
  background-color: #eee;
  box-shadow: 0 1px 10px rgba(0,0,0, 0.25);
  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  text-align: justify;
}

.group h2 {
  text-align: center;
}

.group .img {
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 1px 10px rgba(0,0,0, 0.25);
  height: 200px;
  width: 100%;
  text-align:center;
  line-height: 200px;
  font-size: 100px;
  color: #888;
  margin-bottom: 20px;
}

.group .img.soha {
  background-image: url(/img/soha2.png);
}

.group .img.reprap {
  background-image: url(/img/reprap.png);
}

footer {
  margin-top: 20px;
}

.upcoming {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  border: 3px solid #eee;
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: 0 1px 10px rgba(0,0,0, 0.25);
  text-align: center;
}

.hero-unit h1 {
  font-size: 48px;
}
.hero-unit h2 {
  font-size: 25px;
}
@media all and (min-width: 1200px) {
  .hero-unit h1 {
    font-size: 60px;
  }
  .hero-unit h2 {
    font-size: 31.5px;
  }
}
@media all and (max-width: 979px) {
  .hero-unit h1 {
    font-size: 50px;
  }
  .white-panel h2 {
    font-size: 25px;
  }
}
@media all and (max-width: 767px) {
  .hero-unit {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    height:200px;
  }
  .white-panel {
    padding: 20px 20px;
  }
}
@media all and (max-width: 660px) {
  .hero-unit {
    background-size: 155% auto ;

    overflow:hidden;
    height:140px;
  }
  .actionbar {
    margin-top: 0px
  }
  .hero-unit h1 {
    font-size: 30px;
  }
  .hero-unit h2 {
    font-size: 20px;
    line-height: 1;
  }
  .actionbar h2 {
    font-size: 20px;
  }
  .featurette-image.pull-right,
  .featurette-image.pull-left {
    float: none;
  }
}
@media all and (max-width: 400px) {
  .white-panel h2 {
    display: none;
  }
}
