title='Contact'
template='page.jade'
section='contact'

.container
  .row
    .span6.offset3
      h2 Contact us
      p.lead
        | To contact our trustees, please 
        a(href='/trustees/') visit the trustees page
        | .
      p.info If you're an individual, 
        a(href='http://members.somakeit.org.uk/register') join us!
      p If you're representing a group then please get in touch on 
        a(href='mailto:join@somakeit.org.uk') join@somakeit.org.uk
        | .
