title='Contact'
template='page.jade'
section='contact'

.container
  .row
    .span6
      h2 Contact us
      p.lead
        | To contact our trustees, please 
        a(href='/trustees/') visit the trustees page
        | .
      p.info If you're an individual, then 
        a(href='http://members.somakeit.org.uk/register') join us!
      p If you're representing a group then please get in touch on 
        a(href='mailto:join@somakeit.org.uk') join@somakeit.org.uk
        | .
    .span6
      h2 Visit us
      p.lead We're located in Hollybrook Road, Southampton SO16 6PB, as shown below.
      p Opening hours: TBD
      iframe(width="100%", height="350", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=50.932496097387244,-1.4272570610046387&amp;sll=53.800651,-4.064941&amp;sspn=6.751391,19.753418&amp;t=h&amp;ie=UTF8&amp;z=14&amp;ll=50.932496,-1.427257&amp;output=embed")
      br
      small
        a(href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=50.932496097387244,-1.4272570610046387&amp;sll=53.800651,-4.064941&amp;sspn=6.751391,19.753418&amp;t=h&amp;ie=UTF8&amp;z=14&amp;ll=50.932496,-1.427257", style="color:#0000FF;text-align:left") View Larger Map
