title='Contact'
template='page.jade'
section='contact'

.container
  .page
    h1 Contact us
    p.lead There's lots of ways to get in touch, depending on what you want to do.
    p.info
      | If you want to get in touch with our trustees, please
      a(href='/trustees/') visit the trustees page
      | .
    h3 I would like to sign up
    p
      | Excellent! We're not yet fully set up, but please feel free to drop us an email on:
      a(href='mailto:join@somakeit.org.uk') join@somakeit.org.uk
      | .
    h3 I've got a group/an idea for a group I'd like you to host
    p
      | Excellent! We're not yet fully set up, but please feel free to drop us an email on:
      a(href='mailto:join@somakeit.org.uk') join@somakeit.org.uk
      | .
